.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  text-align: left;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  z-index: 1;
}
